@import '../../../../styles/colorVars.css';

.modalScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(139, 139, 139, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.modal {
  background-color: var(--color-white);
  width: 100%;
  margin: 0 20px;
  position: relative;
}

.modalRoundedMedium {
  border-radius: 20px;
}
