.btnWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
}
.bodyWrapper {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  gap: 4px;
  align-items: center;
}
