@import '../../../../../styles/colorVars.css';

.sheet {
  position: fixed;
  background-color: var(--color-white);
  border-radius: 12px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  bottom: 0;
  z-index: 2;
}
