@import '../../../../../styles/colorVars.css';

.sheet {
  position: absolute;
  background-color: var(--color-white);
  border-radius: 12px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100vw;
  bottom: 0;
}
