@import '../../../../styles/colorVars.css';

.backgroundBar {
  width: 126px;
  height: 5.5px;
  border-radius: 10px;
  background-color: var(--color-grey-light-00);
}
.mainBar {
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: var(--color-main-purple);
}
