@import '../../styles/colorVars.css';

.btn {
  text-align: center;
  color: var(--color-white);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}
.btnFull {
  width: 100%;
  padding: 12px 16px;
}
.btnMedium {
  padding: 12px 16px;
  min-width: 124px;
}
/* 148 이게 지금 "리뷰 남기러 가기" 기준 한줄로 되는 거의 최소 너비 */
/* 128 vs 124 vs 142 (글자 길이에 따른 문제) */
.btnSmall {
  padding: 8px 16px;
  font-size: 10px;
}
/* no width */

.roundedMedium {
  border-radius: 10px;
}

.roundedLarge {
  border-radius: 16px;
}
