.headerBtnWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.contentWrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.overflowContentWrapper {
  padding-left: 20px;
  margin-bottom: 24px;
}
