.wholeWrapper {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  width: 100vw;
  justify-content: center;
}
.status {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
