@import '../../../styles/colorVars.css';

.giftWrapper {
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.shareBtnWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.shareBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  width: 100%;
  height: 36vh;
  border: 1px solid var(--color-grey_light_00, #efefef);
  background: #e6e6e6;
}

.giftTitleWrapper {
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  display: flex;
  width: 100%;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.cafeTitleWrapper {
  color: var(--color-grey_light_02, #cacaca);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foodTitleWrapper {
  color: var(--color-navy, #0f112d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.048px;
}

.foodPriceWrapper {
  color: var(--color-navy, #0f112d);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.06px;
}

.reviewInfoWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.reviewButtonWrapper {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  align-items: center;
}

.reviewButtonText {
  color: var(--color-grey_dark_00, #8a8a8a);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.giftInfoWrapper {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.giftInfoTitle {
  color: #8f8f7f;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.036px;
}

.expDateWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.giftInfoText {
  color: var(--color-grey_dark_00, #636363);

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.039px;
}

.availableStoreWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40vw;
}

.availableStoreElement {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tabWrapper {
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  display: flex;
  width: 100%;
  padding: 12px 1px;
  align-items: flex-start;
  gap: 24px;
}

.tabTrue {
  color: var(--color-black, #000);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.039px;
  border-bottom: 2px solid #000;
}

.tabFalse {
  color: var(--color-grey_light_02, #cacaca);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.039px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
}

.descriptionImg {
  margin: 3vh 5.5vw;
  width: 89%;
  height: 50vh;
  border: 1px solid var(--color-grey_light_00, #efefef);
  background: #e6e6e6;
}

.descriptionTextWrapper {
  margin: 2vh 5.5vw;
  color: #8f8f8f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.042px;
}

.giftCardWrapper {
  margin-left: 5.5vw;
  margin-right: 5.5vw;
  width: 90vw;
  display: flex;
  padding: 4px 0px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
}
.giftCardWrapper::-webkit-scrollbar {
  display: none;
}

.emptyArea {
  width: 100%;
  height: 10vh;
}

.wrapBtnWrapper {
  position: relative;
}

.wrapGiftBtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
