@import url('../../styles/colorVars.css');

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--color-sub-gradation);
}

.header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 16px 20px;
}
.iconBtnsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  opacity: 0.7;
}

.homeTopInformBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}

.main {
  position: relative;
  padding: 20px;
  margin-top: 18px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-radius: 40px;
  background: var(--color-bg-purple-light);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.menu_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.content_event {
  width: 88vw;
  height: 7vh;
  border-radius: 20px;
  background:
    lightgray 0px -164.809px / 100% 761.905% no-repeat,
    #ebebeb;
  /* box effect */
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}
