@import '../../styles/colorVars.css';
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.headerPaddingLarge {
  padding: 16px 14px;
}
.headerPaddingMedium {
  padding: 11.5px 13.5px;
}
.headerPaddingSmall {
  padding: 8px 13.5px;
}

.backBtn {
  background-color: white;
  border: none;
}

.centerDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerTitle {
  font-size: 16px;
  font-weight: 500;
}
