@import '../../../../../styles/colorVars.css';

.wholeWrapper {
  background-color: var(--color-grey-light-02);
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
