@import '../../styles/colorVars.css';
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.headerWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  gap: 4px;
  padding-bottom: 20px;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
}
.headerShortWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  gap: 4px;
  padding-bottom: 8px;
  background-color: var(--color-white);
  border-radius: 0 0 20px 20px;
}
.filtersWrapper {
  padding: 0 20px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  -ms-overflow-style: none;
}
.filtersInHeaderWrapper {
  padding-right: 20px;
  flex-grow: 1;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  -ms-overflow-style: none;
}
.filtersWrapper::-webkit-scrollbar {
  display: none;
}
.filtersInHeaderWrapper::-webkit-scrollbar {
  display: none;
}
.map {
  width: 100vw;
  height: 100%;
}
.mapWrapper {
  position: relative;
  height: 100%;
  /* flex-grow: 1; */
}
.targetBtnWrapper {
  position: absolute;
  right: 19px;
  bottom: 19px;
  z-index: 1;
}
.mapSearchBtnWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 54px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
