@import '../../../../styles/colorVars.css';

.headerWrapper {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.filtersWrapper {
  position: fixed;
  top: 6vh;
  padding: 16px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  align-items: center;
  -ms-overflow-style: none;
  gap: 16px;

  color: var(--color-navy, #0f112d);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.036px;
}
.filtersWrapper::-webkit-scrollbar {
  display: none;
}
