@import '../../../../../styles/colorVars.css';

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background: var(
    --color-sub-gradation,
    linear-gradient(119deg, #525de1 11.37%, #cac5ff 97.3%)
  );
}

.wrapHeader {
  display: flex;
  flex-direction: column;
  height: 56px;
  width: 100%;
}

.wrapContent {
  display: flex;
  flex-direction: column;
  padding-left: 5.5vw;
  padding-right: 5.5vw;
}

.wrapTab {
  display: flex;
  width: 100%;
  padding: 12px 1px;
  align-items: flex-start;
  gap: 10px;
}

.wrapTabButtonTrue {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
}

.wrapTabButtonFalse {
  background: none;
  border: none;
}

.tabButtonTextTrue {
  color: var(--color-white, #ffffff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.039px;
}

.tabButtonTextFalse {
  color: var(--color-sub-purple-light, #c9ceff);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.039px;
}

.tabButtonLine {
  height: 2px;
  width: 100%;
  background: var(--color-white, #ffffff);
}

.wrapContentTitle {
  color: var(--color-white, #fff);
  margin-top: 0.7vh;
  margin-bottom: 0.8vh;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.054px;
}

.wrapContentSubTitle {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-bottom: 3vh;
}

.wrapContentSubTitleText {
  color: var(--color-sub-purple-light, #c9ceff);
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: -0.036px;
}

.wrapMissionMap {
  position: relative;
  width: 100%;
  height: 62vh;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);

  /* box effect */
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.wrapLeftTime {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 18px;
  left: 17px;
}

.leftTimeText {
  color: var(--color-grey_dark_00, #8a8a8a);

  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03px;
}

.wrapMapPicture {
  position: absolute;
  bottom: 3vh;
  left: 4vw;
  width: 100%;
  height: 58vh;
}
