.wrapMissionMap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.first {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 1;
}

.second {
  position: absolute;
  bottom: 10px;
  left: 149px;
  z-index: 1;
}

.third {
  position: absolute;
  bottom: 160px;
  left: 188px;
  z-index: 1;
}

.fourth {
  position: absolute;
  bottom: 160px;
  left: 58px;
  z-index: 1;
}

.fifth {
  position: absolute;
  bottom: 315px;
  left: 90px;
  z-index: 1;
}

.final {
  position: absolute;
  bottom: 315px;
  left: 225px;
  z-index: 1;
}

.finalReward {
  position: absolute;
  bottom: 28px;
  left: 28px;
  z-index: 1000;
}

.firstEllipse {
  position: absolute;
  bottom: 30px;
  left: 50px;
  z-index: 0;
}

.secondEllipse {
  position: absolute;
  bottom: 25px;
  left: 70px;
  z-index: 0;
}

.thirdEllipse {
  position: absolute;
  bottom: 180px;
  left: 75px;
  z-index: 0;
}

.fourthEllipse {
  position: absolute;
  bottom: 170px;
  left: 0px;
  z-index: 0;
}

.fifthEllipse {
  position: absolute;
  bottom: 340px;
  left: 130px;
  z-index: 0;
}
