.wholeWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}
.locSetBtnsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
}
