.tabWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
}
.wholeWrapper {
  position: relative;
  /* height: 200px; */
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
