.wrapper {
  position: relative;
}
.badge {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  border-radius: 100%;
}
