@import '../../../../styles/colorVars.css';

.header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 16px 20px;
}
.iconBtnsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  position: relative;
}
.badge {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-30%, 30%);
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  border-radius: 100%;
  color: var(--color-white);
  background-color: var(--color-grey-dark-01);
}
