@import '../../../../../styles/colorVars.css';

.wholeWrapper {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-purple);
  border-radius: 100%;
}
