@import '../../../../../../../styles/colorVars.css';

.helpBtnWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.helpBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.titleWrapper {
  margin-top: 30px;
  width: 100%;
  padding: 0 20px;
  width: 292px;
}
.deleteBtnWrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wrapContent {
  margin-top: 16px;
  margin: 16px 20px 0 20px;
  border-top: 1px solid var(--UI-grey_light_01, #e5e5e5);
}
.fullBtnWrapper {
  position: fixed;
  bottom: 20px;
  left: 0;
}
